#game-title {
    font-style: normal;
    background: black;
    width: 300px;
    height: 100px;
    background-image: url(/Assets/titleImg.png);
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    border: 10px solid yellow;
    border-style: dotted;
    padding: 20px;
    transform: translateY(50px);
}

#player-score, #dealer-score {
    color: white;
    font-size: 75px;
    margin-bottom: 10px;
    text-align: center;
}

#player-cards, #dealer-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 60px;
    font-size: 30px;
    gap: 10px;
    
}

#dealer-card-2 {
    display: none;
}

#button-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 20px; 
    right: 20px;
    width: auto;
    gap: 25px;
    font-size: 60px;
    background-color: goldenrod;
    border: double;
}

#game-result {
    font-size: 24px;
    margin-top: 20px;
    transform: translateY(-244px);
    background: maroon;
    border-radius: 50px;
    width: 410px;
    text-align: center;
    border: double;
    border-color: gold;
    
    
}
.card {
    width: 50px;
    height: 80px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.card-number {
    font-size: 20px;
    font-size: bold;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(/Assets/istockphoto-1441236934-612x612.jpg);
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#player-score {
    position: absolute;
    top: 10px;
    left: 50%;
    left: 10px;
    font-size: 75px;
    margin-top: 225px;
}

#dealer-score {
    position: absolute;
    top: 10px;
    right: 50%;
    right: 10px;
    font-size: 75px;
    margin-top: 225px;
}

#player {
    position: absolute;
    top: 10px;
    left: 10px;
}
.hand {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {}
    #game-title {
        font-size: 30px;
    }

    .hand {
        font-size: 20px;
    }

    button {
        font-size: 30px;
    }

    #player-score, #dealer-score {
        font-size: 30px;
    }
