body {
    font-family: sans-serif;
    background-color: maroon;
}

button {
    margin-bottom: 10px;
}

.hand {
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
}

.card {
    width: 55px;
    height: 90px;
    border: 1px solid #000;
    text-align: center;
    line-height: 90px;
    font-size: 16px;
}