body {
    font-family: sans-serif;
    background-color: maroon;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#flex-box-blackjack {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 20 px;
    margin-bottom: 0 15px;
}

#player-box, #dealer-box {
    border: 2px black;
    padding: 10px;
}